<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <script type="text/javascript" src="__STATIC__/js/jquery.js"></script>
    <link rel="stylesheet" href="__STATIC__/css/poly-style.css"/>
    <title>您需要支付</title>
</head>
<body ng-app="myApp" ng-controller="searchDataCtrl">
<div class="middle" style="background: none; color: #6f6f6f;">
    <p>订单号：<span>{$orderId}</span></p>
</div>
<div class="narrow">
    <p>金额</p>
    <p style="color: #f64646;" class="strong"><span>{$fee}</span></p>
</div>

<form action="" class="narrow">
    <p class="small">请选择支付方式，或投币完成支付！</p>
    <input type="hidden" name="amount" value=""/>
    <input type="hidden" name="orderId" value=""/>
    <input type="hidden" name="eid" value=""/>
    <input type="button" class="buttons button_dark" value="支付宝"/>
    <input type="button" onclick="callpay()" class="buttons button_dark" style="background-color: #23c203 !important;" value="微信"/>
</form>
</body>
<script type="text/javascript" src="__STATIC__/js/poly-script.js"></script>
<script type="text/javascript">
    //调用微信JS api 支付
    function jsApiCall() {
        WeixinJSBridge.invoke(
            'getBrandWCPayRequest',
            {$name},
            function(res){
                WeixinJSBridge.log(res.err_msg);
                alert(res.err_code+res.err_desc+res.err_msg);
                if (res.err_msg == 'get_brand_wcpay_request:ok'){

                    window.location="http://shop.tech100.com.cn/game/index.html?orderId={$orderId}";
                }else {
                    // alert(res.err_msg);
                    window.location="{:url('pay/fail')}";
                }
            }
        );
    }
    function callpay() {
        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
        }else{
            jsApiCall();
        }
    }
</script>
</html>