<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <script type="text/javascript" src="__STATIC__/js/jquery.js"></script>
    <link rel="stylesheet" href="__STATIC__/css/overAll.css"/>
    <title>支付完成</title>
    <style type="text/css">
        #logo {
            text-align: center;
            width: 100%;
            padding: 20% 0;
        }
        #logo > img {
            width: 20%;
            height: 20vw;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div id="logo">
    <img src="__STATIC__/images/fail.png" alt="支付失败"/>
    <p>订单交易关闭</p>
</div>
<div id="footer">
    <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzU2MjYxODM5OA==&scene=124#wechat_redirect"  class="buttons">关注公众号</a>
</div>
</body>
</html>