<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <script type="text/javascript" src="js/jquery.js"></script>
    <link rel="stylesheet" href="__STATIC__/css/overAll.css"/>
    <title>支付完成</title>
    <style type="text/css">
        #logo {
            text-align: center;
            width: 100%;
            padding: 20% 0;
        }
        #logo > img {
            width: 20%;
            height: 20vw;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div id="logo">
    <img src="__STATIC__/images/done.png" alt="支付完成"/>
    <p>订单支付成功</p>
</div>
<div id="button">
    <div class="button">关闭页面</div>
</div>
</body>
</html>