<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="form-group">
    <label class="col-sm-4 control-label no-padding-right" >商品图片</label>
    <form id="uploadForm1" enctype="multipart/form-data" method="post" action="{:url('jlpay/test')}?aa=44">

        <input id="" type="text" name="agentId"  value="50263701" style="padding-left: 25px;"/>
        <input id="fil" type="text" name="date" value="20181127" style="padding-left: 25px;"/>
        <input id="fi" type="text" name="sign_data"  style="padding-left: 25px;"/>
        <input type="submit" value="sh">
    </form>
    <div class="previewimg previewimg1"></div>

</body>
</html>